.footer {
    min-height: 10px;
    background-color: $brand-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $brand-tertiary;
    text-shadow: 1px 1px black;

    &__copyright {
        color: $text-secondary;
        width: 100%;
        text-align: center;
    }
}