.footer {
    min-height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid $brand-tertiary;
    text-shadow: 1px 1px black;
    background-color: $brand-primary;

    &__copyright {
        color: $text-secondary;
        width: 100%;
        text-align: center;
    }
}