.header {
    background-color: $brand-primary;
    height: 120px;
    text-shadow: 2px 2px black;
    border-bottom: 1px solid $brand-secondary;
    
    
    &__heading {
        font-weight: 900;
        width: 100%;      
        font-size: 3rem;     
        color: $text-secondary;
        padding-top: 10px;
        text-align: center;
        float: left;
    }

    &__sub-heading {
        font-weight: 300;
        font-style: italic;        
        font-size: 1rem;     
        color: $text-secondary;
        text-align: center;        
        float: left;

    }

 
}

.nav-primary {
    clear: both;
}