.header {
    background-color: $brand-primary;
    height: 120px;
    text-shadow: 2px 2px black;
    border-bottom: 1px solid $brand-secondary;
    
    
    &__heading {
        font-weight: 900;
        width: 100%;      
        font-size: 3rem;     
        color: $text-secondary;
        padding-top: 10px;
        text-align: center;
        float: left;
    }

    &__sub-heading {
        font-weight: 300;
        font-style: italic;        
        font-size: 1rem;     
        color: $text-secondary;
        text-align: center;        
        float: left;
    }


    &__nav {
        float: left;
    }

    &__nav ul {
        padding: 0;
    }

    &__nav .menu-item {
        background-color: $brand-primary;
        list-style: none;
        padding: 10px 20px;
        margin: 0 1px;
        text-align: center;
        border: 2px outset $text-primary; 
        border-radius: 15px;  
    }

    &__nav .menu-item > a {
        color: $text-secondary;
    }

    &__nav .menu-item:hover {
        background-color: $brand-secondary;
        text-decoration: none;
        border-radius: 15px;  
    }

    &__nav .menu-item:hover > a {
        color: $text-secondary;
        text-decoration: none;
    }

    &__nav .current-menu-item {        
        border: 2px inset $text-secondary; 
    }

    &__nav .current-menu-item > a {
        color: $text-secondary;
    }
=======
 
>>>>>>> header
}

