.page-heading {
    width: 100%;
    text-align: center;
    margin: 25px 0;
    color: $text-primary;
}




@import "../pages/front-page";
@import "../pages/contacts-page";
@import "../pages/teams-page";