.teams-container {
    background-color: $brand-primary;
    margin-bottom: 25px;
    width: 100%;
    color: $text-secondary;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.teams-image {
    padding: 25px;
    width: 100%;
}

.team-details-container {
    line-height: 0.5rem;
    padding: 25px;
    text-align: center;
}

.teams-container a, a:visited {
    color: $text-secondary;
}

.teams-address-container h3 {
    padding-bottom: 25px;
}

.details-button {
    margin-top: 10px;
}