
body {
    font-family: 'Muli', sans-serif;
    color: $text-secondary;
    margin-bottom: 150px;
    background-color: $brand-primary;
    
}

img {
    max-width: 100%;    
}

.clear-fix {
    clear: both;
}

html {
    min-height: 100%;
    position: relative;
}
.background {
    background-color: $brand-primary;
}

.banner-container {
    margin: 25px;
    width:100%;
    height: 100px;
    overflow: hidden;
}

.attachment-banner {
    width: 100%; 
    border: 1px outset green;   
}
