
body {
    font-family: 'Muli', sans-serif;
    color: $text-primary;
    margin-bottom: 150px;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;
}

.clear-fix {
    clear: both;
}

html {
    min-height: 100%;
    position: relative;
}


