// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
<<<<<<< HEAD
$brand-primary:         #004d00;
$brand-secondary:       #600000;
$text-primary:          #787878;
$text-secondary:        #C0C0C0;

=======
$brand-primary:         #548B54;
$text-primary:          #7A7A7A;
$text-secondary:        #C1CDC1;
$brand-secondary:       #EE2C2C;
$brand-tertiary:        #FFD700;
>>>>>>> header
