// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #004d00;
$brand-secondary:       #600000;
$text-primary:          #787878;
$text-secondary:        #C0C0C0;

