// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #004d00;
$text-primary:          #787878;
$text-secondary:        #C0C0C0;
$brand-secondary:       #881515;
$brand-tertiary:        #B09B37;
